[submodule "lumos_assets"]
	path = lumos_assets
	url = https://github.com/LumosRobot/lumos_assets.git
[submodule "st_rl"]
	path = st_rl
	url = https://github.com/LumosRobot/st_rl.git
[submodule "st_gym"]
	path = st_gym
	url = https://github.com/LumosRobot/st_gym.git
