[submodule "robot_models"]
	path = robot_models
	url = https://github.com/LumosRobot/robot_models.git
[submodule "st_rl"]
	path = st_rl
	url = https://github.com/LumosRobot/st_rl.git
[submodule "st_gym"]
	path = st_gym
	url = https://github.com/LumosRobot/st_gym.git
